[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
opencv-python = "*"
scikit-image = "*"
scipy = "*"
numpy = "*"
pillow = "*"
pyinstaller = "==3.6"
requests = "*"
pyqtgraph = "*"
pyqt5 = "*"
torchvision = "*"
appdirs = "*"
sknw = "*"

[requires]
python_version = "3.6"
